/* layout.css */
/* header */
header {width: 100%; height: 70px; position: fixed; background-color:  #fff; z-index: 3;}
header .logo {text-align: center; height: inherit; display: block; padding-top:10px; }
header .logo a {display: inline-block; width: 50px; height: 50px; background: url('/images/logo.png'); text-align: center;}
header .menu {background-color: #000; width: 50%; height: 100vh; position: absolute; right: -100%; top: 70px; transition: .5s; }
header .menu.active {right: 0;}
header .menu .menu-wrapper {border: 1px solid red; height: inherit; color: #fff; padding: 50px 0 0 50px;}
header .menu .menu-list {}
header .menu .menu-list li {}
header .menu .menu-list li a { display: block; width: 100%; height: 25px; background-color: #333; line-height: 25px; font-size: 1.5em; margin-top: 5px; font-weight: 600;}
header .menu .menu-list.info a {margin-top: 50%;} 
header .menu .menu-list.info:last-child a {margin-top: 5px;}
header .menu-btn {position: absolute; top: 50%; transform: translateY(-50%); right: 5%;}
header .menu-btn .menu-btn-inner {width:14px; height: 30px;position: relative;}
header .menu-btn span {display: block; width: 2px; height: 75%; background-color: #482e2d; z-index: 2; position: absolute; top: 50%;transform: translateY(-50%);transition: .3s;}
header .menu-btn span:nth-child(1) {left: 0;}
header .menu-btn span:nth-child(2) {left: 50%; height: 100%;}
header .menu-btn span:nth-child(3) {left:100%;}
header .menu-btn.active span:nth-child(1) {left:50%; transform: translate(-50%,-50%) rotate(45deg);}
header .menu-btn.active span:nth-child(2) {opacity: 0;}
header .menu-btn.active span:nth-child(3) {left:50%; transform: translate(-50%,-50%) rotate(-45deg);}

/* body */
body {font-family: 'Poppins', sans-serif; background-color: #e1a591; color: #333;}

/* footer */
footer {height: 200px; text-align: center;}
footer .menu {padding-top: 50px;}
footer .menu span:first-child {display: inline-block; font-size: 18px; margin-bottom: 15px;}
footer .menu .item a {display: inline-block; font-size: 16px; margin-right: 10px; margin-top: 15px;}
footer .menu .item a:last-child {margin-right: 0;}